* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  margin: 20px;
  width: 150px;
  height: 150px;
  border: 1px solid;
  display: grid;
  grid-template-areas:
    "area1 . area3"
    "area4 area5 area6"
    "area7 . area9";
  grid-template-rows: repeat(3, 1fr);
  /* Three rows of equal height */
  grid-template-columns: repeat(3, 1fr);
  /* Three columns of equal width */

}

.child1 {
  padding: 5px;
  grid-area: "area1";
}

.child1 {
  padding: 5px;
  grid-area: area1;
}

.child3 {
  padding: 5px;
  grid-area: area3;
}

.child4 {
  padding: 5px;
  grid-area: area4;
}

.child5 {
  padding: 5px;
  grid-area: area5;
}

.child6 {
  padding: 5px;
  grid-area: area6;
}
.child7 {
  padding: 5px;
  grid-area: area7;
}

.child9 {
  padding: 5px;
  grid-area: area9;
}
.circle {
  background-color: black;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
h2,h4{
  margin:10px  20px  ;
  width: 150px;
  text-align: center;
}
button{
  margin: 0 0 0 80px;
}
